* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #71b7e6;
}
main {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
header {
    font-size: 25px;
    font-weight: 300;
    position: relative;
    padding-bottom: 10px;
    color: #a5a5a5;
}
hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}
.user-content form fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    border: none;
}
.input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
form .input-box label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
fieldset .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
fieldset input:focus,
fieldset input:valid {
    border-color: #ccc;
}
fieldset input:hover {
    border-color: #587ef4;
}
#create-button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 35px 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    background: #9b59b6;
}
#create-button:hover {
    background-color: #71b7e6;
}
#log-in-button {
    border: none;
    background: transparent;
    font-size: 1em;
    color: #264bb9;
    cursor: pointer;
}
#log-in-button:hover {
    color: #a5b9f5;
}
.log-in {
    margin-left: 195px;
    margin-right: 105px;
}

.hide {
    display: none;
}
.error {
    color: red;
    font-size: 12px;
}

input:invalid {
    border-color: red;
}
